@font-face {
    font-family: 'PPMondwest-Regular';
    src: url(./fonts/PPMondwest-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url(./fonts/PPNeueMontreal-Medium.otf) format('opentype');
}

body {
margin: 0;
padding: 0;
font-family: 'PPNeueMontreal-Medium', sans-serif;
background-color: #ffffff;
color: #2c2c2c;
line-height: 1.6;
}

.container {
max-width: 100% vw;
margin: 0 auto;
padding: 2rem;
}

.header {
margin-bottom: 2rem;
padding: 2rem;
border-bottom: 1px solid #2c2c2c;
}

.name {
    font-family: 'PPMondwest-Regular', serif;
    font-style: italic;
    display: inline;
    color: #2c2c2c;
    font-size: clamp(2.0rem, 4vw, 2.8rem);
}

.name a {
color: #2c2c2c;
text-decoration: none;
}

.name a:hover {
text-decoration: none;
}

.work-archive, .work-name {
font-size: clamp(1.8rem, 4vw, 2.4rem);
font-family: 'PPNeueMontreal-Medium', sans-serif;
font-style: normal;
font-weight: 400;
}

.work-archive a {
color: #2c2c2c;
text-decoration: none;
}

.work-archive a:hover {
text-decoration: none;
}

.project-description{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caseboard {
width: 90%;
height: auto;
display: block;
border-radius: 8px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
margin-left: auto;
margin-right: auto;
}

footer {
    
    font-size: 0.9rem;
    max-width: none;
    text-align: left;
    padding: 2rem;
    border-top: 1px solid #2c2c2c;
    color: #2c2c2c;
}

footer a {
    color: #2c2c2c;
    text-decoration: underline;
}

@media (max-width: 768px) {
.container {
padding: 1.5rem;
}

.name {
font-size: 1.5rem;
}

.project-title {
font-size: 2rem;
}
}
